.btn {

    min-width: 200px;
    min-height: 50px;
    cursor: pointer;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid $accent-color;
    box-shadow: none;
    background-color: $accent-color;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.06em;

    transition: box-shadow $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function, color $transition-duration $transition-timing-function;
}

.btn__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 20px;
}