.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    opacity: 1;
    transition: opacity $transition-duration $transition-timing-function;
    background-color: $backdrop-background;

    padding-left:15px;
    padding-right: 15px;
    overflow-y: scroll;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width:95vw;
    border-radius: 4px;
    overflow-y: scroll;
    z-index: 15;


    background-color: $white;

    transform: translate(-50%, -50%) scale(1);
    transition: transform $transition-duration $transition-timing-function;
}


@media screen and(min-width:481px){
    .modal {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 450px;
            height: 610px; 
            
        }
    }

    @media screen and (min-width: 1199px){
     .modal{
        width:528px;
     }
    }

.btn-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    padding: 0;
    margin: 0;

    background-color: $white;
    border: 1px solid #0000001a;
    border-radius: 50%;

    transition: color $transition-duration $transition-timing-function;

    &__icon {
        height: 18px;
        width: 18px;
        fill: currentColor;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.order-form {
    background-color: $white;

    &__title {
        margin-bottom: 12px;
        @media screen and (max-width:1199px) {
            text-align:center;
            
        }

        color: $titles-text-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
    }

    &__form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        position: relative;

    }

    &__field-label {
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 1.16;
        color: $regular-text-color;
    }

    &__field-input {
        position: relative;
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;


        display: inline-block;
        width: 18px;
        height: 18px;


    }

    &__input {
        margin: 0;
        padding: 6px 10px;
        padding-left: 42px;

        height: 40px;
        width: 100%;
        border: 1px solid #21212133;
        border-radius: 4px;

        &:focus-within {
            border: 1px solid $accent-color;
            outline: transparent;
        }


    }

    &__field-input:focus-within>&__input-icon {
        fill: $accent-color;
    }




    &__button {
        display: block;
        margin: auto;
        box-shadow: none;
        transition: box-shadow $transition-duration $transition-timing-function;

        &:hover,
        &:hover {
            box-shadow: 0px 4px 4px 0px $box-shadow-color;
        }

    }


}

.textarea {
    height: 120px;
    resize: none;
    padding: 12px;
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-bottom: 20px;
}




.policy-checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;

    }




    &__icon {
        position: absolute;
        top: 4px;
        left: 10px;
        width: 15px;
        height: 15px;

       


        border: 2px solid $titles-text-color;
        border-radius: 1px;
        background-color: $white;

        transition: background-color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;

    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $regular-text-color;
        max-width: 400px;
        margin-left: 30px;


    }

    &__input:checked+.policy-checkbox__icon {
        background-color: $accent-color;
        border-color: $accent-color;

    }
}