.socials-list {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        border-radius: 50%;
        background-color: $white;
        color: $icons-color;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color $transition-duration $transition-timing-function, color $transition-duration $transition-timing-function;

        &--inverse {
            background-color: #ffffff1a;
            color: $white;
        }

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $white;
        }
    }

    &__icon {
        height: 20px;
        width: 20px;
        fill: currentColor;
    }
}